@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button{
  background-color: #BE123C;
  border:none;
  padding: .6rem 1.6rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: white;
  gap: .8rem;
  border-radius: 6px;
}
button.light{
  padding: .6rem 1.6rem;
  border: 1px solid #BE123C;
  background-color: #F8E7EB;
  border-radius: 3px;
  font-size: 1.5rem;
  color: #B91C1C;
}
.loading, .error{
  font-size: 2.4rem;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  h4{
    color: red;
  }
  h5{
    font-size: 2rem
  }
}
.hamburger{
  &.mobile{
      display: none;
  }
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #BE123C;
  width: fit-content;
  border-radius: 50%;
  padding:1.2rem .8rem;
  cursor: pointer;
  span{
      display: block;
      width: 1.6rem;
      height: 1.6px;
      background-color: white;
      transition: all 200ms ease-in-out;
  }
  &.cancel{
      justify-content: center;
      span{
          transform: rotate(45deg);
          &:last-child{
              transform: rotate(-45deg);
              margin-top: -1.4px;
          }
      }
  }
}
.favourites{
  background-color: red;
  position: fixed;
  font-size: 3rem;
  bottom: 0;
  left: 0;
}
@import "../styles/header.scss";
@import "../styles/navbar.scss";
@import "../styles/sidebar.scss";
@import "../styles/featured.scss";
@import "../styles/movies.scss";
@import "../styles/card.scss";
@import "../styles/footer.scss";
@import "../styles/loading.scss"




